<nav class="nav flex-column">
    <a class="nav-link active" [routerLink]="['/dashboard']"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a class="nav-link" [routerLink]="['/categorias']"><i class="fas fa-boxes"></i> Categorias</a>
    <a class="nav-link" [routerLink]="['/productos']"><i class="fas fa-box"></i> Productos</a>
    <a class="nav-link" [routerLink]="['/ventas']"><i class="fas fa-cash-register"></i> Ventas</a>
    <a class="nav-link" [routerLink]="['/usuarios']"><i class="fas fa-users"></i> Usuarios</a>
    <a class="nav-link" [routerLink]="['/administracion']"><i class="fas fa-cogs"></i> Administracion</a>
</nav>