<nav class="nav flex-column" *ngIf="isAuthenticated">
    <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
    <a class="nav-link" [routerLink]="['/categorias']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-boxes"></i> Categorias
    </a>
    <a class="nav-link" [routerLink]="['/productos']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-box"></i> Productos
    </a>
    <a class="nav-link" [routerLink]="['/ventas']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-cash-register"></i> Ventas
    </a>
    <a class="nav-link" [routerLink]="['/usuarios']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-users"></i> Usuarios
    </a>
    <a class="nav-link" [routerLink]="['/administracion']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-cogs"></i> Administracion
    </a>
    <a class="nav-link" href="#" (click)="logout()">
        <i class="fas fa-sign-out"></i> Logout
    </a>
</nav>